version: '3.8'

services:
  op-db:
    image: "postgres:11-alpine@sha256:d706b23c20bb63f9408281e35beef25c6c01ddcd4712bf50101595bc9cfa9c8a"
    ports:
      - 15432:5432
    restart: on-failure
    healthcheck:
      test: pg_isready
      interval: 5s
      timeout: 3m
    command: postgres -c listen_addresses='*'
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_USER: user
      POSTGRES_DB: store
    networks:
      - op-net

  flyway:
    image: flyway/flyway:6.2.1@sha256:8718ddb67cbd8e2b77af0fe50db7ce05bb8d6ed2b2a5aea432b4062990170be2
    environment:
      FLYWAY_URL: jdbc:postgresql://op-db:5432/store
      FLYWAY_USER: user
      FLYWAY_PASSWORD: pass
      FLYWAY_MIXED: "true"
    volumes:
      - ./sql:/flyway/sql
    command:
      ["migrate", "-locations=filesystem:/flyway/sql"]
    restart: on-failure
    networks:
      - op-net

  psql:
    image: "postgres:11-alpine@sha256:d706b23c20bb63f9408281e35beef25c6c01ddcd4712bf50101595bc9cfa9c8a"
    command: psql
    environment:
      PGPASSWORD: pass
      PGUSER: user
      PGDATABASE: store
      PGHOST: op-db
      PGPORT: 5432
    networks:
      - op-net

  selenium:
    image: selenium/standalone-firefox@sha256:4cee1e9d02dc0ff00683582a678a904991016a4534fa61bda2db11982d5094f4
    ports:
      - 4444:4444
    networks:
      - op-net

  di-auth-stub-relying-party:
    image: di-auth-stub-relying-party:local
    build:
      context: ../di-auth-stub-relying-party
    environment:
      CLIENT_ID: "some_client_id"
      OP_AUTHORIZE_URL: "http://di-auth-oidc-provider:8080/authorize"
      OP_TOKEN_URL: "http://di-auth-oidc-provider:8080/token"
      OP_USERINFO_URL: "http://di-auth-oidc-provider:8080/userinfo"
      AUTH_CALLBACK_URL: "http://di-auth-stub-relying-party:8081/oidc/callback"
      LOGOUT_URL: "http://di-auth-oidc-provider:8080/logout?redirectUri=http://di-auth-stub-relying-party:8081"
      RP_PORT: "8081"
    healthcheck:
      test: curl -L http://localhost:8081
      interval: 5s
      timeout: 3m
    ports:
      - 8081:8081
    restart: on-failure
    networks:
      - op-net

  di-auth-oidc-provider:
    image: di-auth-oidc-provider:local
    build:
      context: .
    environment:
      AUTHENTICATION_SERVICE_PROVIDER: user
      BASE_URL: http://di-auth-oidc-provider:8080/
      DATABASE_URL: jdbc:postgresql://op-db:5432/store
    healthcheck:
      test: curl -L http://localhost:8080/login
      interval: 5s
      timeout: 3m
    ports:
      - 8080:8080
    restart: on-failure
    networks:
      - op-net

networks:
  op-net: