{{<layout}}
    {{$title}}Sign-in to GOV.UK - Success{{/title}}
    {{$mainContent}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation orange-bg">
                    <h1 class="govuk-panel__title">
                        Please verify your GOV.UK Account
                    </h1>

                </div>

                <br />

                <p>
                    A GOV.UK Account will:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        let you reuse and share your data to ensure that government services are quicker to interact with
                    </li>
                    <li>
                        suggest GOV.UK guidance and information that is relevant to you
                    </li>
                    <li>
                        tell you when content you're interested in has been updated
                    </li>
                    <li>
                        help you set up reminders for tasks you may need to complete later
                    </li>
                </ul>

                <br />

                <form class="form" action="/registration/verifyAccessCode" method="post">
                    <input type="hidden" value="{{authRequest}}" name="authRequest">
                    <input type="hidden" value="{{email}}" name="email">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="code">
                            Enter your verification code
                        </label>
                        <input class="govuk-input" id="code" name="code" required="required">
                    </div>
                    <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
                </form>
            </div>
        </div>
    {{/mainContent}}
{{/layout}}