{{<layout}}
    {{$title}}Create GOV.UK Account- Email Address{{/title}}
    {{$mainContent}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Create your GOV.UK Account
                </h1>
                {{#failedLogin}}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a>The user credentials are not valid.  Please try again.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/failedLogin}}

                <div class="govuk-inset-text">
                    A GOV.UK Account is separate from other government accounts (for example a personal tax account or Government Gateway).<br><!-- A GOV.UK Account will become the single sign-on for all of government. -->
                </div>
                <p>A GOV.UK Account will:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        let you reuse and share your data to ensure that government services are quicker to interact with
                    </li>
                    <li>
                        suggest GOV.UK guidance and information that is relevant to you
                    </li>
                    <li>
                        tell you when content you're interested in has been updated
                    </li>
                    <li>
                        help you set up reminders for tasks you may need to complete later
                    </li>
                </ul>
                <h2 class="govuk-heading-m">
                    What you need to create a GOV.UK Account
                </h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        an email address
                    </li>
                    <li>
                        a working UK phone number with signal, so we can send you a security code
                    </li>
                </ul>
                <br />
                <h2 class="govuk-heading-s">
                    To create an account, enter your email address
                </h2>
                <form class="form" method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="email">
                            Email address
                        </label>
                        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" required="required">
                    </div>
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    {{/mainContent}}
{{/layout}}