{{<layout}}
    {{$title}}Sign-in to GOV.UK - Password{{/title}}
    {{$mainContent}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Enter your GOV.UK account password
                </h1>
                <br />
                <form class="form" action="/registration/validate" method="post">
                    <input type="hidden" value="{{email}}" name="email">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            Enter your password
                        </label>
                        <input class="govuk-input" id="password" name="password" type="password" aria-describedby="password-hint" required="required">
                        <label class="govuk-label" for="password">
                            Confirm your password
                        </label>
                        <input class="govuk-input" id="password-confirm" name="password-confirm" type="password" aria-describedby="password-hint" required="required">
                    </div>
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    {{/mainContent}}
{{/layout}}