{{<layout}}
    {{$title}}Sign-in to GOV.UK - Password{{/title}}
    {{$mainContent}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Enter your GOV.UK account password
                </h1>
                {{#invalidPassword}}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a>Passwords do not match.  Please try again.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/invalidPassword}}
                <br />
                <form class="form" action="/registration/validate" method="post">
                    <input type="hidden" value="{{authRequest}}" name="authRequest">
                    <input type="hidden" value="{{email}}" name="email">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="password">
                            Enter your password
                        </label>
                        <input class="govuk-input" id="password" name="password" type="password" aria-describedby="password-hint" required="required">
                        <label class="govuk-label" for="password">
                            Confirm your password
                        </label>
                        <input class="govuk-input" id="password-confirm" name="password-confirm" type="password" aria-describedby="password-hint" required="required">
                    </div>
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    {{/mainContent}}
{{/layout}}