{{<layout}}
    {{$title}}GOV.UK Account Verification - Success{{/title}}
    {{$mainContent}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation orange-bg">
                    <h1 class="govuk-panel__title">
                        You have successfully verified your GOV.UK Account
                    </h1>
                </div>
                <br />
            </div>
        </div>
    {{/mainContent}}
{{/layout}}